<configuration>
  <system.webServer>
    <handlers>
      <!-- Indicates that the server.js file is a node.js script to be handled by the iisnode module -->
      <add name="iisnode" path="node_modules/next/dist/server/lib/render-server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="next-js">
          <match url="/*" />
          <action type="Rewrite" url="node_modules/next/dist/server/lib/render-server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- 
      You may need to configure the iisnode element below. For more information, see:
      https://github.com/Azure/iisnode/blob/master/src/samples/configuration/web.config
    -->
    <iisnode
      node_env="production"
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      watchedFiles="web.config;*.js"
      />

  </system.webServer>
</configuration>
